.top0{
    text-align: center;
    font-size: 200%; 
}

.top0{
    background-color: red;
}

h2{
    background-color: blue;
    text-align: center;
}

video{
    width: 560px;
    height: 315px;
}

.titulo
{
   text-align: center;
   font-size: 25px;
   font-style: italic;
}

